 {{#each item}}
 
 <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src={{img}} class="img-fluid" alt="">> 
            <div class="portfolio-info">
              <h4>{{productName}}</h4>
              <p>₱ {{productPrice}}</p>
              <a  href="addtocart" class="cart" title="Add to Cart"><i class="bx bx-plus"></i></a>
              <a href="/products-details/" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
</div>

{{/each}}