{{#each publicReview}}
          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <h3>{{fullName}}</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{review}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
{{/each }}