<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>New Promise Hardware</h3>
          <p>
            331 El Grande Ave. <br>
            Parañaque, Kalakhang Maynila<br>
            Philippines <br><br>
            <strong>Phone (Smart):</strong> 0961 745 5720<br>
            <strong>Phone (Globe):</strong> 0955 188 2086<br>
            <strong>Email:</strong> newpromisehardware@yahoo.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/ProductsPage">Products</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/AboutUs">About Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/FAQ">FAQ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/Reviews">Reviews</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/Checkout">Checkout</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/newpromisehardware">Facebook Page</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.instagram.com/newpromisehardware/">Instagram</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Notification Newsletter</h4>
          <p>Join Now! Enter your email address to subscribe to our store channel to get notified on upcoming sales and deals!</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>New Promise Hardware</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      {{!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> --}}
      <a href="https://www.facebook.com/newpromisehardware" target="_blank" rel="noopener noreferrer" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/newpromisehardware/" target="_blank" rel="noopener noreferrer" class="instagram"><i class="bx bxl-instagram"></i></a>
      {{!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> --}}
    </div>
  </div>
</footer><!-- End Footer -->