<body>
    <nav>
        <div class="logo">
            <h4> NEW PROMISE </h4>
        </div>
            <ul class="nav-links">
                <li><a href="/"> Home</a> </li>
                <li><a href="/AboutUs"> About Us</a> </li>
                <li><a href="/FAQ"> FAQ</a> </li>
                 <li><a href="/Reviews"> Reviews</a> </li>
                 <li><a href="/ProductsPage"> Products</a> </li>
            </ul>
            <div class="big">
            
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>

            </div>
    

    </nav>

</body>