{{> navadmin}}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Dashboard</h2>
          <ol>
            <li><a href="admin">Dashboard</a></li>
            <li>Dashboard</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      

      <div class="container">
          <h1>New Orders</h1>
        
         <br>
        <div class="row">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="./assets/neworder.png" class="testimonial-img" alt="">
              <h3>Customer Name</h3>
              <h4>March 23, 2020</h4>
              <p>
                  Total of 5 items: Paint, Wood, Roof, Something, Something
              </p>
              <br>
              <div class="choicebutton">
                <a class="viewbtn" href="orderdetails">View</a>
                <b class="btn">Delete</b>
              </div>
            </div>
            
          </div>
          

          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="./assets/neworder.png" class="testimonial-img" alt="">
              <h3>Customer Name</h3>
              <h4>March 23, 2020</h4>
              <p>
                  Total of 5 items: Paint, Wood, Roof, Something, Something
              </p>
              <br>
              <div class="choicebutton">
                <a class="viewbtn" href="orderdetails">View</a>
                <b class="btn">Delete</b>
              </div>
            </div>
            
          </div>

        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <section id="portfolio" class="portfolio">
      
    
      <div class="container">
          <h1>Recently added stocks</h1>
         <div class="newstock"> 
                <a href="catalogue-details-new"><i class="bx bx-plus"></i> New Stock</a>
        </div>
        <br>


        {{!-- <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> --}}

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a class="cart" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/catalogue-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <section id="testimonials" class="testimonials">
      <div class="container">
          <h1>Recent Reviews</h1>
        <div class="row">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="./assets/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <div class="choicebutton">
                <a href="">Approve</a>
                <b class="btn">Decline</b>
              </div>
            </div>
            
          </div>
          

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item mt-4 mt-lg-0">
              <img src="./assets/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3> 
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <div class="choicebutton">
                <a href="">Approve</a>
                <b class="btn">Decline</b>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial-item mt-4">
              <img src="./assets/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <div class="choicebutton">
                <a href="">Approve</a>
                <b class="btn">Decline</b>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonial-item mt-4">
              <img src="./assets/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <div class="choicebutton">
                <a href="">Approve</a>
                <b class="btn">Decline</b>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="testimonial-item mt-4">
              <img src="./assets/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <div class="choicebutton">
                <a href="">Approve</a>
                <b class="btn">Decline</b>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item mt-4">
              <img src="./assets/testimonials/testimonials-6.jpg" class="testimonial-img" alt="">
              <h3>Emily Harison</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Eius ipsam praesentium dolor quaerat inventore rerum odio. Quos laudantium adipisci eius. Accusamus qui iste cupiditate sed temporibus est aspernatur. Sequi officiis ea et quia quidem.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <div class="choicebutton">
                <a href="">Approve</a>
                <b class="btn">Decline</b>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->