{{> nav}}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Cart</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Cart</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        {{!-- <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> --}}

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a href="./assets/products/boysenpaint.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/item-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 1</h4>
              <p>₱ 500.00</p>
              <a href="./assets/products/boysenpaint.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/item-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 5</h4>
              <p>₱ 500.00</p>
              <a href="./assets/products/boysenpaint.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/item-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 2</h4>
              <p>₱ 500.00</p>
              <a href="./assets/products/boysenpaint.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/item-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="./assets/products/boysenpaint.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Boysen Paints x 1</h4>
              <p>₱ 500.00</p>
              <a href="./assets/products/boysenpaint.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Delete"><i class="bx bx-trash"></i></a>
              <a href="/item-details" class="details-link" title="Edit"><i class="bx bx-pencil"></i></a>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->