{{> nav}}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Feedback Confirm</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Feedback Confirm</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
            <div class="receipt-content">
    <div class="container bootstrap snippets bootdey">
		<div class="row">
			<div class="col-md-12">
				<div class="invoice-wrapper">
					<div class="intro">
                        <span>
                            
                            <h4><img src="./assets/nphlogo.png"alt="" style="width: 45px; height:45px">  New Promise Hardware</h4>
                        </span>
                        <br>
						<h4>Hi! {{name}}</h4>
					</div>

					
					<div class="line-items" style="text-align:center">
            
						
						<h4>Thank you for the feedback! Have a <strong>great</strong> day!<i class="bx bx-party"></i></h4>
                        

						<div class="print">
							<a href="/">
								<i class="fa fa-print"></i>
								Confirm
							</a>
						</div>
					</div>
				</div>

				<div class="footer">
					Copyright © 2021. New Promise Hardware
				</div>
			</div>
		</div>
	</div>
</div> 
      </div>
    </section>