{{> nav}}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Reviews</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Reviews</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">
        <div class="newstock"> 
                <a href="feedback">Submit a Feedback</a>
        </div>
        <br>

        <div class="row">
        {{#each items}}
          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <h3>{{fullName}}</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{review}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
            
          </div>
          {{/each }}
          
  
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->